<h1>Profile edit password</h1>
<%= form_for @user, :url => { :action => 'update_password' }, :html => { :multipart => true } do |form| %>
  <%= 'current password : ' %><%= form.password_field :current_password, :size => '30' %><br />
  <%= 'new password : ' %><%= form.password_field :new_password, :size => '30' %><br />
  <%= 'new password confirm : ' %><%= form.password_field :new_password_confirm, :size => '30' %><br />
  <%= form.submit 'submit' %>
<% end %>
