<!DOCTYPE html>
<html>
<head>
  <title>Finner</title>
  <%= stylesheet_link_tag    "mylist", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <%= render 'shared/navbar' %><br /><br />
  </div>
  <div id="cols">
    <%= yield :cols %>
  </div>
  <div id="footer">
  </div>
  <%= yield %>
</body>
</html>
